Source: whatsupp
Section: net
Priority: optional
Maintainer: alindt <whatsupp@cevreau.eu>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/alindt/WhatsUpp
Vcs-Git: https://github.com/alindt/WhatsUpp.git

Package: whatsupp
Architecture: amd64 armhf
Depends: ${shlibs:Depends}, ${misc:Depends}, libnotify4, gconf2, libgconf-2-4
Description: Native desktop app/wrapper for https://web.whatsapp.com. Built with Electron.
